<header ng-switch on="$location.path().indexOf('/Vendas/new') > -1">
    <h3 ng-switch-when="true">Create a new Venda</h3>
    <h3 ng-switch-when="false">View or edit Venda</h3>
</header>
<form id="VendaForm" name="VendaForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    

    <div class="form-group" ng-class="{'has-error': VendaForm.data.$invalid}">
        <label for="data" class="col-sm-2 control-label">Data</label>
        <div id="dataControls" class="col-sm-10">
            <input id="data" name="data" type="text" class="form-control" ng-model="venda.data" placeholder="Enter the Venda Data"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': VendaForm.total.$invalid}">
        <label for="total" class="col-sm-2 control-label">Total</label>
        <div id="totalControls" class="col-sm-10">
            <input id="total" name="total" type="number" class="form-control" ng-model="venda.total" placeholder="Enter the Venda Total"></input>
            <span class="help-block error" ng-show="VendaForm.total.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': VendaForm.usuario.$invalid}">
        <label for="usuario" class="col-sm-2 control-label">Usuario</label>
        <div id="usuarioControls" class="col-sm-10">
        <select id="usuario" name="usuario" class="form-control" ng-model="usuarioSelection" ng-options="u.text for u in usuarioSelectionList"  >
            <option value="">Choose a Usuario</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': VendaForm.itens.$invalid}">
        <label for="itens" class="col-sm-2 control-label">Itens</label>
        <div id="itensControls" class="col-sm-10">
            <select id="itens" name="itens" multiple class="form-control" ng-model="itensSelection" ng-options="i.text for i in itensSelectionList">
                <option value="">Choose a Itens</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveVenda" name="saveVenda" class="btn btn-primary" ng-disabled="isClean() || VendaForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteVenda" name="deleteVenda" class="btn btn-danger" ng-show="venda.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>